@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <h1>Contact Us</h1>
    <p>If you have any inquiries or feedback, please feel free to contact us.</p>
    <p>Email:khumalocraft@gmail.com</p>
    <p>Phone:0658381308</p>
<style>
    body {
        /* Set background image */
       
        background-image: url('newfolder/craft4.jpg'); /* Cover the entire viewport */
       background-size: auto;
        background-repeat: no-repeat; /* Prevent the image from repeating */
        background-color:dimgrey;
        color: whitesmoke;
    }
</style>