
<h1>Explore Our Craftwork</h1>
<div>
    
    <ul>
        <li>
            <img src="~/newfolder/craft3.jpg" />
            <p>Description: Beautiful handmade pottery</p>
            <p>Price: R200</p>
        </li>
        <li>
            <img src="~/newfolder/craft4.jpg" />
            <p>Description: Handcrafted stoel</p>
            <p>Price: R500</p>
        </li>
        <li>
        <img src="~/newfolder/art1.jpg" />
        <p>Description: Handcrafted stoel</p>
        <p>Price: R1500</p>
        </li>
    </ul>
    <style>
        body{
            background-color: dimgrey;
            color: whitesmoke;
        }

        img {
            width: 30%;
            height: 40%; /* Maintain aspect ratio */
            border-radius: 5px; /* Add rounded corners to images */
        }
    </style>
</div>